@import url("theme.css");
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(/public/fonts/Nunito-Regular.ttf) format("ttf");
}

.content_container {
  padding-left: 25%;
  padding-right: 18%;
}

.start_content {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.intro_content {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.waving-hand {
  animation: wave 2.1s 0.6s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
  margin-left: 5px;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-6deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(16deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
