@import url("theme.css");
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(/public/fonts/Nunito-Regular.ttf) format("ttf");
}

.content_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 18px;
  
}

.start_content {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.intro_content {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10px;
}

.intro-details{
  font-size: 16px;
  max-width: 710px ;
  font-weight: 300;
  margin-top: 8px;
  word-spacing: 4px;
}

.waving-hand {
  animation: wave 2.1s 1s infinite;
  transform-origin: 75% 75%;
  display: inline-block;
  margin-left: 7px;
  transition: var(--transition-delay);
}

.experince-conatiner{
  display: flex;
  justify-content: center;
}

.more-button{
  box-shadow: var(--shadow);
  color: var(--card-font-color);
  text-align: center;
  transition: 0.3s;
  transform: scale(1);
  font-size: 20px;
  margin: 10px;
  background-color: var(--card-color);
  border-radius: 12px;
  width: 120px;
  padding: 8px;
}

.more-button:hover,
.more-button:focus {
  transform: scale(1.08);
}

@keyframes wave {
  0% {
    transform: scale(1) rotate(0deg);
  }
  10% {
    transform: scale(1.1) rotate(16deg);
  }
  20% {
    transform: scale(1.1) rotate(-6deg);
  }
  30% {
    transform: scale(1.1) rotate(16deg);
  }
  40% {
    transform: scale(1.1) rotate(-4deg);
  }
  50% {
    transform: scale(1.1) rotate(16deg);
  }
  60% {
    transform: scale(1.1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
