@import url("theme.css");

.footer {
 
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
 
}

.footer-icons {
  padding-right: 25px;
  padding-bottom: 8px;
  display: flex;
}
.footer-other {
  padding-left: 18px;
  padding-bottom: 8px;
}

.icon {
  font-size: 28px;
  color: var(--icon-color);
  margin: 8px;
  transition: color, transform 0.3s;
  transform: scale(1);
}

.icon:hover {
  transform: scale(1.1);
  color: var(--font-color);
}


@media (max-width: 820px) {
  .footer{
    position: relative;
    padding-left: 25px;
    padding-top: 20px;
  }
}
