@import url("theme.css");
@import url("navbar.css");
@import url("content.css");
@import url("thememanager.css");
@import url("board.css");
@import url("card.css");
@import url("modal.css");
@import url("tags.css");
@import url("experience.css");
@import url("footer.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-color);
  background-color: var(--color-primary);
  transition: var(--transition-delay);

}

* {
  box-sizing: border-box;
}

/* .hide-x-scroll {
  overflow-x: hidden;
} */

/* .hide-all-scroll {
  overflow: hidden;
} */


#main-view{
 transition: 1s filter linear, 1s -webkit-filter linear;
 height: 100vh;
}