@import url("theme.css");
@import url("navbar.css");
@import url("content.css");
@import url("thememanager.css");
@import url("board.css");
@import url("card.css");
@import url("footer.css");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--font-color);
  background-color: var(--color-primary);
  transition: var(--transition-delay);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
