@import url("theme.css");

.modal {
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  left: 0;
  inset: 0;
  background-color: rgba(41, 41, 41, 0.8);
 
}

.modal-content {
  right: 0;
  left: 0;
  bottom: 0%;
  color: white;
  z-index: 99;
  position: fixed;
  height: 85vh;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background: var(--modal-color);
  animation: downEntry 700ms forwards cubic-bezier(0.32, 1, 0.23, 1);
  padding: 18px;
  border-radius: 20px 20px 0 0;
}

@keyframes downEntry {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 768px) { 

  .modal-content {
    width: 100%;
  }

 }

