@import url("theme.css");

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}

.modal-content {
  position: fixed;
  top: 5%;
  right: 0;
  left: 0;
  z-index: 999;
  height: 75vh;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background: black;
  animation: rise 700ms forwards cubic-bezier(0.32, 1, 0.23, 1);
}

@keyframes rise {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
