@import url("theme.css");
@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url(/public/fonts/Nunito-Regular.ttf) format("ttf");
}

.nav {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
}

.nav .nav-brand {
  padding: 18px;
  display: flex;
}

.nav .nav-brand-name {

  margin-top: 10px;
  margin-left: 14px;
  font-weight: 500;
  /* padding: 5px;
  border: 2px dotted lightblue; */
  /* font-family: "Nunito"; */
}

/* .nav-brand-profile{
  margin-top: 10px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
} */

.nav-name{
   display: flex;
   justify-content: center;
}

.nav .nav-theme-switcher {
  margin-top: 25px;
}
