
@import url("theme.css");

.tags{
    border: 3px solid white;
    width: auto;
    text-align:  center;
    background: var(--tag-color);
    border-radius: 5px ;
    margin: 8px;
    padding: 5px;
    box-shadow: var(--shadow);
}