:root {
  --color-primary: white;
  --font-color: #000000;
  --shadow: 0 8px 6px -6px #0e0e0e;
  --transition-delay: 1s ;
  --star-color: #f9d71c;
  --card-color: rgb(39, 39, 255);
  --border-color: white;
  --card-font-color: white;
}

[data-theme="dark"] {
  --color-primary: #16102e;
  --font-color: white;
  --shadow: 0 8px 6px -6px #0e0e0e;
  --star-color: #D9FBFD;
  --card-color: #4e4670;
  --border-color: #f9d71c;
}


/* :root {
  --color-primary: #A9E4D7;
  --font-color: #000000;
  --shadow: 8px 10px 6px -6px #999;
  --transition-delay: 1s ;
  --star-color: #f9d71c;
  --card-color: #63B4B8;
}

[data-theme="dark"] {
  --color-primary: #16102e;
  --font-color: white;
  --shadow: 0 8px 6px -6px grey;
  --star-color: #D9FBFD;
  --card-color: #4B3869;
} */

