@import url("theme.css");

/* .sun-moon {
  --rotation: 0;
  position: absolute;
  height: 100vh; */
/* transform: rotate(calc(var(--rotation) * 1deg));
  transition: transform var(--transition-delay);
} */

/* [data-theme="dark"] .sun-moon {
  --rotation: 180;
} */

.sun,
.moon {
  position: absolute;
  transition: opacity , fill var(--transition-delay);
  fill: var(--star-color);
}

.sun {
  top: 4%;
  right: 3%;
  opacity: 1;
  
  /* animation: sun-juggling 2.1s 4s infinite; */
}

[data-theme="dark"] .sun {
  opacity: 0;
}

.moon {
  top: 4%;
  right: 3%;
  opacity: 0;
  animation: moon-juggling 2.1s 4s infinite;
}

[data-theme="dark"] .moon {
  opacity: 1;
}

@keyframes moon-juggling {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(0deg);
  }
}

/* @keyframes sun-juggling {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(190deg);
  }
  20% {
    transform: rotate(170deg);
  }

} */
